<div class="row">
  <div class="col-md-6">
    <h3>Day 0 - Before the Workshop</h3>
      <table class="table table-striped">
        <tr> <td>Before</td> <td><a href="https://forms.gle/dmDvidBehZtZLx6h6" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
        <tr> <td>Before</td> <td>Complete <a href="https://swcarpentry.github.io/git-novice/index.html">setup for workshop</a>: <br>
          <ul>
           <li><a href="https://swcarpentry.github.io/git-novice/index.html#installing-git">install software</a><i>Note: Windows machine may also need to install Bash Shell</i></li>
           <li><a href="https://swcarpentry.github.io/git-novice/index.html#creating-a-github-account">create GitHub account</a><i>Note: GitHub requires multi-factor authentication (2FA), therefore you will need to have a smart phone or other authenticator option available at the workshop.</i></li>
         </ul></td> </tr>
      </table>
  </div>
  <div class="col-md-6">
    <h3>Day 1 - April 2</h3>
    <table class="table table-striped">
      <tr> <td><strong>16:00</strong></td>  <td><a href="https://swcarpentry.github.io/shell-novice/01-intro.html">Automated Version Control</a></td> </tr>
      <tr> <td>16:05</td>  <td>Setting up Git</td> </tr>
      <tr> <td>16:10</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>16:20</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>16:40</td>  <td>Exploring History</td> </tr>
      <tr> <td>15:05</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>After</td>  <td><a href="https://forms.gle/UUatZbnjhVxsiCRE7">Day 1 Exit Survey</a></td></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 2 - April 9</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td> <td><a href="https://swcarpentry.github.io/git-novice/07-github.html">Review: Day 1</a> </td> </tr>
      <tr> <td>16:10</td> <td>Remotes in GitHub</td> </tr>
      <tr> <td>16:55</td> <td>Collaborating </td> </tr>
      <tr> <td>17:15</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 - April 16</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab.html">Review: Day 2</a></td> </tr>
      <tr> <td>16:10</td>  <td>Conflicts</td> </tr>
      <tr> <td>16:25</td>  <td>Branches</td> </tr>
      <tr> <td>17:00</td>  <td>Open Science</td> </tr>
      <tr> <td>17:10</td>  <td>Post-workshop Survey</td> </tr>
      <tr> <td>17:15</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

